<?xml version="1.0"?>
<configuration>

	<configSections>
		<sectionGroup name="openSourceC">
			<section name="worldOfWarcraft" type="openSourceC.WorldOfWarcraft.WorldOfWarcraftSection, openSourceC.WorldOfWarcraft"/>
		</sectionGroup>
	</configSections>

	<openSourceC>
		<worldOfWarcraft defaultRegion="us">
			<regions>
				<add key="us" name="United States" baseUrl="http://us.battle.net/api/wow/realm/status"/>
				<add key="eu" name="Europe" baseUrl="http://eu.battle.net/api/wow/realm/status"/>
				<add key="kr" name="Korea" baseUrl="http://kr.battle.net/api/wow/realm/status"/>
			</regions>
		</worldOfWarcraft>
	</openSourceC>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>
