<?xml version="1.0"?>
<configuration>

	<configSections>
		<sectionGroup name="openSourceC">
			<section name="worldOfWarcraft" type="openSourceC.WorldOfWarcraft.WorldOfWarcraftSection, openSourceC.WorldOfWarcraft" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>

	<openSourceC>
		<worldOfWarcraft
			publicKey=""
			privateKey=""
		>
			<regions default="us">
				<region key="us" name="United States" host="http://us.battle.net/">
					<locale key="en_US" name="English (US)"/>
					<locale key="es_MX" name="Spanish (Mexico)"/>
				</region>

				<region key="eu" name="Europe" host="http://eu.battle.net/">
					<locale key="en_GB" name="English (UK)"/>
					<locale key="es_ES" name="Spanish (Spain)"/>
					<locale key="fr_FR" name="French (France)"/>
					<locale key="ru_RU" name="Russian (Russia)"/>
					<locale key="de_DE" name="German (Germany)"/>
				</region>

				<region key="kr" name="Korea" host="http://kr.battle.net/">
					<locale key="ko_KR" name="Korean (Korea)"/>
				</region>

				<region key="tw" name="Taiwan" host="http://tw.battle.net/">
					<locale key="zh_TW" name="Chineese (Taiwan)"/>
				</region>

				<region key="cn" name="China" host="http://battlenet.com.cn/">
					<locale key="zh_CN" name="Chineese (China)"/>
				</region>
			</regions>

			<apis>
				<add key="arenaTeam" name="Arena Team" path="/api/wow/arena/{0}/{1}/{2}"/>
				<add key="auctionData" name="Auction Data" path="/api/wow/auction/data/{0}"/>
				<add key="characterAchievements" name="Character Achievements" path="/api/wow/data/character/achievements"/>
				<add key="characterClasses" name="Character Classes" path="/api/wow/data/character/classes"/>
				<add key="characterProfile" name="Character Profile" path="/api/wow/character/{0}/{1}"/>
				<add key="characterRaces" name="Character Races" path="/api/wow/data/character/races"/>
				<add key="guildAchievements" name="Guild Achievements" path="/api/wow/data/guild/achievements"/>
				<add key="guildPerks" name="Guild Perks" path="/api/wow/data/guild/perks"/>
				<add key="guildProfile" name="Guild Profile" path="/api/wow/guild/{0}/{1}"/>
				<add key="guildRewards" name="Guild Rewards" path="/api/wow/data/guild/rewards"/>
				<add key="item" name="Item" path="/api/wow/item/{0}"/>
				<add key="itemClasses" name="Item Classes" path="/api/wow/data/item/classes"/>
				<add key="quest" name="Quest" path="/api/wow/quest/{0}"/>
				<add key="realmStatus" name="Realm Status" path="/api/wow/realm/status"/>
				<add key="recipe" name="Recipe" path="/api/wow/recipe/{0}"/>
			</apis>
		</worldOfWarcraft>
	</openSourceC>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>
