<?xml version="1.0"?>
<configuration>

	<configSections>
		<sectionGroup name="openSourceC">
			<section name="worldOfWarcraft" type="openSourceC.WorldOfWarcraft.WorldOfWarcraftSection, openSourceC.WorldOfWarcraft" restartOnExternalChanges="true"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TestApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<openSourceC>
		<worldOfWarcraft
			privateKey=""
			publicKey=""
		>
			<regions default="us">
				<region key="us" name="United States" host="http://us.battle.net/">
					<locale key="en_US" name="English (US)"/>
					<locale key="es_MX" name="Spanish (Mexico)"/>
					<locale key="pt_BR" name="Portuguese (Brazil)"/>
				</region>

				<region key="eu" name="Europe" host="http://eu.battle.net/">
					<locale key="en_GB" name="English (UK)"/>
					<locale key="es_ES" name="Spanish (Spain)"/>
					<locale key="fr_FR" name="French (France)"/>
					<locale key="ru_RU" name="Russian (Russia)"/>
					<locale key="de_DE" name="German (Germany)"/>
					<locale key="pt_BR" name="Portuguese (Portugal)"/>
					<locale key="it_IT" name="Italian (Italy)"/>
				</region>

				<region key="kr" name="Korea" host="http://kr.battle.net/">
					<locale key="ko_KR" name="Korean (Korea)"/>
				</region>

				<region key="tw" name="Taiwan" host="http://tw.battle.net/">
					<locale key="zh_TW" name="Chineese (Taiwan)"/>
				</region>

				<region key="cn" name="China" host="http://www.battlenet.com.cn/">
					<locale key="zh_CN" name="Chineese (China)"/>
				</region>
			</regions>

			<apis>
				<add key="achievement" name="Achievement" path="/api/wow/achievement/{0}"/>
				<add key="arenaTeam" name="Arena Team" path="/api/wow/arena/{0}/{1}/{2}"/>
				<add key="auctionData" name="Auction Data" path="/api/wow/auction/data/{0}"/>
				<add key="battlePetAbility" name="Battle Pet Ability" path="/api/wow/battlePet/ability/{0}"/>
				<add key="battlePetSpecies" name="Battle Pet Species" path="/api/wow/battlePet/species/{0}"/>
				<add key="battlePetStats" name="Battle Pet Stats" path="/api/wow/battlePet/stats/{0}"/>
				<add key="characterProfile" name="Character Profile" path="/api/wow/character/{0}/{1}"/>
				<add key="guildProfile" name="Guild Profile" path="/api/wow/guild/{0}/{1}"/>
				<add key="item" name="Item" path="/api/wow/item/{0}"/>
				<add key="itemSet" name="Item Set" path="/api/wow/item/set/{0}"/>
				<add key="quest" name="Quest" path="/api/wow/quest/{0}"/>
				<add key="realmChallenge" name="Realm Challenge" path="/api/wow/challenge/{0}"/>
				<add key="realmStatus" name="Realm Status" path="/api/wow/realm/status"/>
				<add key="recipe" name="Recipe" path="/api/wow/recipe/{0}"/>
				<add key="spell" name="Spell" path="/api/wow/spell/{0}"/>

				<add key="arenaLadder" name="Arena Ladder" path="/api/wow/pvp/arena/{0}/{1}"/>
				<add key="ratedBattlegroundLadder" name="Rated Battleground Ladder" path="/api/wow/pvp/ratedbg/ladder"/>

				<!-- Data Resources -->
				<add key="battlegroups" name="Battlegroups" path="/api/wow/data/battlegroups/index"/>
				<add key="characterAchievements" name="Character Achievements" path="/api/wow/data/character/achievements"/>
				<add key="characterClasses" name="Character Classes" path="/api/wow/data/character/classes"/>
				<add key="characterRaces" name="Character Races" path="/api/wow/data/character/races"/>
				<add key="guildAchievements" name="Guild Achievements" path="/api/wow/data/guild/achievements"/>
				<add key="guildPerks" name="Guild Perks" path="/api/wow/data/guild/perks"/>
				<add key="guildRewards" name="Guild Rewards" path="/api/wow/data/guild/rewards"/>
				<add key="itemClasses" name="Item Classes" path="/api/wow/data/item/classes"/>
				<add key="petTypes" name="Pet Types" path="/api/wow/data/pet/types"/>
				<add key="talents" name="Talents" path="/api/wow/data/talents"/>
			</apis>
		</worldOfWarcraft>
	</openSourceC>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>

	<userSettings>
		<TestApplication.Properties.Settings>
			<setting name="PrivateKey" serializeAs="String">
				<value/>
			</setting>

			<setting name="PublicKey" serializeAs="String">
				<value/>
			</setting>
		</TestApplication.Properties.Settings>
	</userSettings>

</configuration>
